Package: ws.hbang.monobar
Name: MonoBar
Depends: mobilesubstrate
Conflicts: gsc.ipad
Version: 1.1
Architecture: iphoneos-arm
Description: Disable double-height status bars.
Maintainer: insanj <insanjmail@gmail.com>
Author: thekirbylover
Section: Tweaks
