Package: ws.hbang.monobar
Name: MonoBar
Depends: mobilesubstrate
Conflicts: gsc.ipad
Version: 1.0
Architecture: iphoneos-arm
Description: Disable double-size status bars
Maintainer: thekirbylover
Author: thekirbylover
Section: Tweaks
