Package: ws.hbang.monobar
Name: MonoBar
Depends: mobilesubstrate
Conflicts: gsc.ipad
Version: 1.1
Architecture: iphoneos-arm
Description: Disable double-height status bars.
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Support: https://www.hbang.ws/faq/
Section: Tweaks
